<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>House Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header data-page="house-data" class="my_header">
        <div class="container">
            <div class="my_header_div">
                <h1>TGIF</h1>
                <a href="mailto:info@tgit.net"><img class="email_image" src="images/email_icon.png" alt="email_logo">info@tgif.net</a>
            </div>
        </div>
    </header>
    <div class="container" id="app">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 133 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="#">House</a></li>
                            <li><a href="senate-data.html">Senate</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="house-attendance-statistics.html">House</a></li>
                            <li><a href="senate-attendance-statistics.html">Senate</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="house-party-loyalty-statistics.html">House</a></li>
                            <li><a href="senate-party-loyalty-statistics.html">Senate</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="lds-spinner" v-show="loading">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="loadContent" v-show="!loading">
            <h2>Congressmen</h2>
            <p class="main_paragraf">The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both the House and Senate re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the Senate), and to elect the U.S. President in case there is no majority in the Electoral College.</p>
            <p class="main_paragraf">Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative. </p>
            <div class="filters">
                <div class="filterParty">
                    <label>Filter by Party:</label>
                    <label><input type="checkbox" name="party" value="D" v-model="filterParty"> Democrat</label>
                    <label><input type="checkbox" name="party" value="R" v-model="filterParty"> Republicant</label>
                    <label><input type="checkbox" name="party" value="I" v-model="filterParty"> Independent</label>
                </div>
                <div class="filterState">
                    <label>Filter by State:</label>
                    <select name="State" v-model="filterState">
                        <option value="All" selected>All States</option>
                        <option v-for="state in states" :value="state">{{state}}</option>
                    </select>
                </div>
            </div>

            <table class="table tableMembers">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Party</th>
                        <th>State</th>
                        <th>Years in office</th>
                        <th>% of Votes</th>
                    </tr>
                </thead>
                <tbody id="congress-data">
                    <tr v-for="member in members" v-if="memberFulfilFilters(member)">
                        <td><a v-bind:href="member.url" target="_blank">{{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                        <td>{{member.party}}</td>
                        <td>{{member.state}}</td>
                        <td>{{member.seniority}}</td>
                        <td>{{member.votes_with_party_pct}}%</td>
                    </tr>
                </tbody>
                <tfoot v-if="!someTR">
                    <tr>
                        <td colspan="5">There is no member</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <footer class="panel-footer">
        <p>&copy; 2018 TGIF | All rights reserved</p>
    </footer>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="scripts/main-vue.js"></script>
</body>

</html>
