.my_header {
    padding: 15px 0 15px;
}

.my_header_div {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.email_image {
    width: 25px;
    padding-right: 5px;
}

.page_content {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.government_image {
    margin-top: 100px;
    width: 35%;
}

.main_paragraf {
    width: 60%;
}

.tableMembers th:first-child {
    width: 312px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
}

label {
    font-weight: normal;
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: baseline;
}

.filterParty {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filterState {
    margin-left: 60px;
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.width45 {
    width: 45%;
}

.linea {
    width: 100%;
    border-bottom: solid thin;
}

/*Loader*/
.loadContent_noVue{
    display: none;
}

.lds-spinner {
    color: official;
    margin: auto;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #575858;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*Loader*/
